<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeAI - About</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="/images/ai.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.css">
    <style>
        img{
            max-width: 50%!important;
        }
    </style>

</head>
<body>
    <div class="w3-bar w3-black menubar topnav menu" id="myTopnav">
        <a href="/" class="w3-bar-item w3-button home">CodeAI - Your Companion</a>
        <a href="interview" class="w3-bar-item w3-button">Interview Preparation</a>
        <a href="practice" class="w3-bar-item w3-button apti">Practice MCQ</a>
        <a href="test" class="w3-bar-item w3-button apti">Take a Test</a>
        <a href="http://127.0.0.1:5173/" class="w3-bar-item w3-button" target="_blank">AskMe</a>
        <a href="about" class="w3-bar-item w3-button active">About Us</a>
        
      </div>

      <div class="about">
        <h5><b>About this Web Application : </b></h5>
        <br>

        <img src="/images/about.png" alt="" height="300" class="ai">
        <br>

        <p>CodeAI - Your Companion is a web based Placement Preparation Application. This application has multiple 
            features starting from online code compiler to interview preparation section. And what makes this web application
            standout is it's unique feature : AskMe. AskMe is an AI chatbot which has answers to all of your questions just like ChatGPT. 
            <br><br>    
            Now stop reading, just start Coding! 
        </p>
        <h3>Our Developing Team: </h3>
        <div class="detail">
            
                <br>
                <p class="name">
                    <img src="/images/Snehasish.png" >
                    
                </p>
                    
                <p class="skills">
                    <h7 class="skil">Snehasish Mallik</h7> <br>
                    The Lead Developer of this project. More than three years of experience in web dev with a particular interest
                    in back-end development. <br>
                    <h7 class="skil">Skills : Node.js, Python, JavaScript, Core Java, MySQL, MongoDB and Automation Testing.</h7>
                </p>
         
    
        </div>
        <div class="detail">
                    
            <br>
            <p class="name">
                <img src="/images/shiba.png">
            </p>         
            <p class="skills">
                <h7 class="skil">Shiba Prasad Samal</h7> <br>
                Content Manager of this project. More than three years of experience in this particular field and is a 
                responsible and visionary person. <br>
                <h7 class="skil">
                    
                Skills : Team Work, Content Management.
                </h7>
            </p>
    

</div>
            <div class="detail">
                    
                        <br>
                        <p class="name">
                            <img src="/images/gourav.png" >
                        </p>         
                        <p class="skills">
                    
                            <h7 class="skil">Gourav Choudhry</h7> <br>
                            Front-end Developer of this project. More than three years of experience in web dev with a particular interest
                            in front-end web dev. <br>
                            <h7 class="skil">
                                
                            Skills : HTML, CSS, JavaScript.
                            </h7>
                        </p>
                
            
            </div>
        </div>
    
</body>

<footer>
    <br>
    @Copyrights Reserverd!
    <br>
    <br>
</footer>
</html>