<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeAI - Interview</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="/images/ai.png">
    <link rel="stylesheet" href="/css/interview.css">
    <link rel="stylesheet" href="/css/all.css">
    <style>
      ul{
        color: rgb(5, 72, 117)!important;
        font-size: large;
        font-weight: bold;
        
      }
      a:hover{
        text-shadow: 1.5px 1.5px rgb(77, 77, 75);

      }
      .interview{
        padding-top: 60px!important;
      }
    </style>

</head>
<body>
  <div class="w3-bar w3-black menubar topnav menu" id="myTopnav">
    <a href="/" class="w3-bar-item w3-button home">CodeAI - Your Companion</a>
    <a href="interview" class="w3-bar-item w3-button active">Interview Preparation</a>
    <a href="practice" class="w3-bar-item w3-button apti">Practice MCQ</a>
    <a href="test" class="w3-bar-item w3-button apti">Take a Test</a>
    <a href="http://127.0.0.1:5173/" class="w3-bar-item w3-button" target="_blank">AskMe</a>
    <a href="about" class="w3-bar-item w3-button">About Us</a>
    
  </div>
  

      <div class="interview">
        
        <h3><b>Interview Section -</b></h3>
        <img src="/images/interview.png" alt="" height="400" width="650" class="ai">
        <p>You see, before attending any interview you must be clear about the basic concepts. Here we have 
            brought you numerous number of questions in different section from which you can learn, clear your basics and grow.
            Also, you are going to know about most asked questions in interview.
            <br>
            <br>
            Start Now!
        </p>
        <p>Chose your topic and prepare for your interview to ace it!</p>
        <ul> 
            <li><a href="java">Java Programming Language</a></li>
            <br>
            <li><a href="python">Python Programming Language</a></li>
            <br>
            <li><a href="database">Database Conecpt</a></li>        
        </ul>
      </div>

</body>

<footer>
  <br>
  @Copyrights Reserverd!
  <br>
  <br>
</footer>
</html>