<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeAI - Aptitude</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="/images/ai.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/practice.css">
    <link rel="stylesheet" href="/css/all.css">
    

    

</head>
<body>
    <div class="w3-bar w3-black menubar topnav menu" id="myTopnav">
        <a href="/" class="w3-bar-item w3-button home">CodeAI - Your Companion</a>
        <a href="interview" class="w3-bar-item w3-button">Interview Preparation</a>
        <a href="practice" class="w3-bar-item w3-button apti active">Practice MCQ</a>
        <a href="test" class="w3-bar-item w3-button apti">Take a Test</a>
        <a href="http://127.0.0.1:5173/" class="w3-bar-item w3-button" target="_blank">AskMe</a>
        <a href="about" class="w3-bar-item w3-button">About Us</a>
        
      </div>
      <div class="container">
        <div class="sidebar">
          <a href="practice-aptitude" class="active">
            <span>Quantitative section</span>
          </a>
          <a href="practice-reasoning">
            <span>Reasoning section</span>
          </a>
          <a href="practice-english">
            <span>English section</span>
          </a>
        </div>
        </div>

      
    
        <div class="about">
            <h3>Aptitude Practice</h3>
            <form name="mcq" id="mcq">
                <div class="box">
                  <p>1. Sohan started a business with a capital of Rs. 80000. After 6 months Mohan joined as a partner by
                    investing Rs. 65000. After one year they earned total profit Rs. 20000. What is share of Sohan in the profit?
                  </p>
                  <p><input type="radio" name="question1" value="5222.2">A. Rs. 5222.2</p>
                  <p><input type="radio" name="question1" value="5777.7">B. Rs. 5777.7</p>
                  <p><input type="radio" name="question1" value="6222.2">C. Rs. 6222.2</p>
                  <p><input type="radio" name="question1" value="6777.7">D. Rs. 6777.7</p>
                </div>
          
                <div class="box">
                  <p>2. A mother is twice as old as her son. If 20 years ago, the age of the mother was 10 times the age of the
                    son, what is the present age of the mother?</p>
                  <p><input type="radio" name="question2" value="38">A. 38 years</p>
                  <p><input type="radio" name="question2" value="40">B. 40 years</p>
                  <p><input type="radio" name="question2" value="43">C. 43 years</p>
                  <p><input type="radio" name="question2" value="45">D. 45 years</p>
                </div>
          
                <div class="box">
                  <p>3. What is the compound interest on Rs. 2500 for 2 years at rate of interest 4% per annum?</p>
                  <p><input type="radio" name="question3" value="180">A. Rs. 180</p>
                  <p><input type="radio" name="question3" value="204">B. Rs. 204</p>
                  <p><input type="radio" name="question3" value="210">C. Rs. 210</p>
                  <p><input type="radio" name="question3" value="220">D. Rs. 220</p>
                </div>
          
                <div class="box">
                  <p>4.  If January 1, 1996, was Monday, what day of the week was January 1, 1997?</p>
                  <p><input type="radio" name="question4" value="Thursday">A. Thursday</p>
                  <p><input type="radio" name="question4" value="Wednesday">B. Wednesday</p>
                  <p><input type="radio" name="question4" value="Friday">C. Friday</p>
                  <p><input type="radio" name="question4" value="Sunday">D. Sunday</p>
                </div>
          
                <div class="box">
                  <p>5.  The speed of a boat in still water is 5km/hr. If the speed of the boat against the stream is 3 km/hr, what is the speed of the stream?</p>
                  <p><input type="radio" name="question5" value="1.5">A. 1.5 Km/hr</p>
                  <p><input type="radio" name="question5" value="2">B. 2 Km/hr</p>
                  <p><input type="radio" name="question5" value="2.5">C. 2.5 Km/hr</p>
                  <p><input type="radio" name="question5" value="1">D. 1 Km/hr</p>
                </div>
          
          
                <input type="button" name="" value="Show Answers"  onclick="check()">
          
                <p id="results"></p>
          
              </form>
        </div>
        
    
    


  <script src="/script/practice.js"></script>  
</body>

<footer>
    <br>
    @Copyrights Reserverd!
    <br>
    <br>
</footer>
</html>