<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeAI - Reasoning</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="/images/ai.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/practice.css">
    <link rel="stylesheet" href="/css/all.css">
    

    

</head>
<body>
    <div class="w3-bar w3-black menubar topnav menu" id="myTopnav">
        <a href="/" class="w3-bar-item w3-button home">CodeAI - Your Companion</a>
        <a href="interview" class="w3-bar-item w3-button">Interview Preparation</a>
        <a href="practice" class="w3-bar-item w3-button apti active">Practice MCQ</a>
        <a href="test" class="w3-bar-item w3-button apti">Take a Test</a>
        <a href="http://127.0.0.1:5173/" class="w3-bar-item w3-button" target="_blank">AskMe</a>
        <a href="about" class="w3-bar-item w3-button">About Us</a>
        
      </div>
      <div class="container">
        <div class="sidebar">
          <a href="practice-aptitude">
            <span>Quantitative section</span>
          </a>
          <a href="practice-reasoning" class="active">
            <span>Reasoning section</span>
          </a>
          <a href="practice-english">
            <span>English section</span>
          </a>
        </div>
        </div>

      
    
        <div class="about">
            <h3>Reasoning Practice</h3>
            <form name="mcq" id="mcq">
                <div class="box">
                  <p>1. Look at this series: 12, 11, 13, 12, 14, 13, … What number should come next?
                  </p>
                  <p><input type="radio" name="question1" value="10">A. 10</p>
                  <p><input type="radio" name="question1" value="16">B. 16</p>
                  <p><input type="radio" name="question1" value="13">C. 13</p>
                  <p><input type="radio" name="question1" value="15">D. 15</p>
                </div>
          
                <div class="box">
                  <p>2. Which word does NOT belong with the others?</p>
                  <p><input type="radio" name="question2" value="Index">A. Index</p>
                  <p><input type="radio" name="question2" value="Glossary">B. Glossary</p>
                  <p><input type="radio" name="question2" value="Chapter">C. Chapter</p>
                  <p><input type="radio" name="question2" value="Book">D. Book</p>
                </div>
          
                <div class="box">
                  <p>3. CUP : LIP :: BIRD : ?</p>
                  <p><input type="radio" name="question3" value="Grass">A. GRASS</p>
                  <p><input type="radio" name="question3" value="Forest">B. FOREST</p>
                  <p><input type="radio" name="question3" value="Beak">C. BEAK</p>
                  <p><input type="radio" name="question3" value="Bush">D. BUSH</p>
                </div>
          
                <div class="box">
                  <p>4. An Informal Gathering occurs when a group of people get together in a casual, relaxed manner. Which situation below is the best example of an Informal Gathering?</p>
                  <p><input type="radio" name="question4" value="a">A. A debating club meets on the first Sunday morning of every month.</p>
                  <p><input type="radio" name="question4" value="b">B. After finding out about his salary raise, Jay and a few colleagues go out for a quick dinner after work.</p>
                  <p><input type="radio" name="question4" value="c">C. Meena sends out 10 invitations for a bachelorette party she is giving for her elder sister.</p>
                  <p><input type="radio" name="question4" value="d">D. Whenever she eats at a Chinese restaurant, Roop seems to run into Dibya.</p>
                </div>
          
                <div class="box">
                  <p>5. If a legislature decides to fund agricultural subsidy programs, national radio, and a small business loan program, what 2 other programs can they fund?</p>
                  <p><input type="radio" name="question5" value="a">A. harbor improvements and school music program</p>
                  <p><input type="radio" name="question5" value="b">B. harbor improvements and international airport</p>
                  <p><input type="radio" name="question5" value="c">C. hurricane preparedness and international airport</p>
                  <p><input type="radio" name="question5" value="d">D. hurricane preparedness and school music program</p>
                </div>
          
          
                <input type="button" name="" value="Show Results" onclick="check()">
          
                <p id="results"></p>
          
              </form>
        </div>
        
    
    


  <script src="/script/practice.js"></script>  
</body>

<footer>
    <br>
    @Copyrights Reserverd!
    <br>
    <br>
</footer>
</html>