<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeAI - English</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="/images/ai.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/practice.css">
    <link rel="stylesheet" href="/css/all.css">

    

</head>
<body>
    <div class="w3-bar w3-black menubar topnav menu" id="myTopnav">
        <a href="/" class="w3-bar-item w3-button home">CodeAI - Your Companion</a>
        <a href="interview" class="w3-bar-item w3-button">Interview Preparation</a>
        <a href="practice" class="w3-bar-item w3-button apti active">Practice MCQ</a>
        <a href="test" class="w3-bar-item w3-button apti">Take a Test</a>
        <a href="http://127.0.0.1:5173/" class="w3-bar-item w3-button" target="_blank">AskMe</a>
        <a href="about" class="w3-bar-item w3-button">About Us</a>
        
      </div>
      <div class="container">
        <div class="sidebar">
          <a href="practice-aptitude">
            <span>Quantitative section</span>
          </a>
          <a href="practice-reasoning">
            <span>Reasoning section</span>
          </a>
          <a href="practice-english" class="active">
            <span>English section</span>
          </a>
        </div>
        </div>

      
    
        <div class="about">
            <h3>English Practice</h3>
            <form name="mcq" id="mcq">
              <div class="box">
                <p>1. Choose the correct Figures of Speech in the line "We bear her along like a pearl on a string"?
                </p>
                <p><input type="radio" name="question1" value="a">A. Metaphor</p>
                <p><input type="radio" name="question1" value="b">B. Simile</p>
                <p><input type="radio" name="question1" value="c">C. Apostrphe</p>
                <p><input type="radio" name="question1" value="d">D. Hyperbole</p>
              </div>
        
              <div class="box">
                <p>2. Which of the following line is Metaphor?</p>
                <p><input type="radio" name="question2" value="a">A. Revenge is a kind of wild justice.</p>
                <p><input type="radio" name="question2" value="b">B. Oh! what a noble mind is here overthrow.</p>
                <p><input type="radio" name="question2" value="c">C. Let not ambition mock their useful toil.</p>
                <p><input type="radio" name="question2" value="d">D. Our sweetest songs are those that tell of saddest thoughts.</p>
              </div>
        
              <div class="box">
                <p>3. A .............. is the given name of a person, place, or thing. It's likely to be a personal name or a title</p>
                <p><input type="radio" name="question3" value="a">A. Common Noun</p>
                <p><input type="radio" name="question3" value="b">B. Collective Noun</p>
                <p><input type="radio" name="question3" value="c">C. Proper Noun</p>
                <p><input type="radio" name="question3" value="d">D. Material Noun</p>
              </div>
        
              <div class="box">
                <p>4. Which of the following modifies or describes noun in a sentence?</p>
                <p><input type="radio" name="question4" value="a">A. Adverb</p>
                <p><input type="radio" name="question4" value="b">B. Adjective</p>
                <p><input type="radio" name="question4" value="c">C. Preposition</p>
                <p><input type="radio" name="question4" value="d">D. Conjunction</p>
              </div>
        
              <div class="box">
                <p>5. Which of the following is brief and abrupt pauses in speech, usually used for expressing emotions?</p>
                <p><input type="radio" name="question5" value="a">A. Pronoun</p>
                <p><input type="radio" name="question5" value="b">B. Conjunction</p>
                <p><input type="radio" name="question5" value="c">C. Interjection</p>
                <p><input type="radio" name="question5" value="d">D. None of the above</p>
              </div>
        
        
              <input type="button" name="" value="Show Results" onclick="check()">
        
              <p id="results"></p>
        
            </form>
        </div>
        
    
    


  <script src="/script/practice.js"></script>  
</body>

<footer>
    <br>
    @Copyrights Reserverd!
    <br>
    <br>
</footer>
</html>