<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeAI - Test</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="/images/ai.png">
    <link rel="stylesheet" href="/css/apti.css">
    <link rel="stylesheet" href="/css/all.css">
    <style>
      ul{
        color: rgb(5, 72, 117)!important;
        font-size: large;
        font-weight: bold;
      }
      a:hover{
        text-shadow: 1.5px 1.5px rgb(77, 77, 75);

      }
    </style>

</head>
<body>
  <div class="w3-bar w3-black menubar topnav menu" id="myTopnav">
    <a href="/" class="w3-bar-item w3-button home">CodeAI - Your Companion</a>
    <a href="interview" class="w3-bar-item w3-button">Interview Preparation</a>
    <a href="practice" class="w3-bar-item w3-button apti">Practice MCQ</a>
    <a href="test" class="w3-bar-item w3-button apti active">Take a Test</a>
    <a href="http://127.0.0.1:5173/" class="w3-bar-item w3-button" target="_blank">AskMe</a>
    <a href="about" class="w3-bar-item w3-button">About Us</a>
    
  </div>
    <div class="aptitude">
        <h3><b>Take a Test -</b></h3>
        <img src="/images/exam.png" alt="" height="450" width="700" class="ai">
        <h5>Whenever you are preparing for any placement drive you should be very good at aptitude. In any placement drive, you will see a section full of quants, reasoning and english comprehensive. You see, in any placement examination, it is bound you have to solve the aptitude section. 
          As you are an engineering student your problem solving skills must be good and aptitude is another section where you can show your problem solving skill.
          Stop reading, click on the link and take the exam where we have added many most probable type questions which may come in your placement exam.
           <br>
           <br> Start Now!
        </h5>
        <p>Choose your topic on which you want to practice:</p>
        <ul>
          <li><a href="quant-test" target="_blank">Quant</a></li>
          <br>
          <li><a href="reasoning-test" target="_blank">Reasoning</a></li>
          <br>
          <li><a href="english-test" target="_blank">English</a></li>
        </ul>
        
    </div>
    
    
</body>
<footer>
  <br>
  @Copyrights Reserverd!
  <br>
  <br>
</footer>

</html>